# Google AI API Configuration
GOOGLE_API_KEY=your_google_api_key_here

# Pinecone Configuration
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX=lawbridge-legal-docs

# Application Configuration
APP_NAME=LawBridge Legal Chatbot
PORT=4000

# app secret so only backend can talk to chatbot
APP_SECRET_KEY=your_secret_key

TAVILY_API_KEY=your_key

PYTHON_VERSION=3.11.9
